<!DOCTYPE html>
<html>
<head>
	<title>supprimer</title>
</head>
<body>
	<form method="post">
		{% csrf_token %}
		<table border="1">
			<tr>
				<th>nom:</th>
				<td>{{client.nom}}</td>
			</tr>
			<tr>
				<th>tele:</th>
				<td>{{client.tele}}</td>
			</tr>
			<tr>
				<th>addresse:</th>
				<td>{{client.addresse}}</td>
			</tr>
		</table>
		<input type="submit" value="supprimer" name="">
	</form>
	<a href="{% url 'client:client_ajout' %}">ajouter</a>
	<a href="{% url 'client:client_recherche' %}">rechercher</a>
</body>
</html>